.container {
    display: flex;
    justify-content: center;
    width: 100%;

    padding: 20px;
}

.lista-filmes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*foi usado desse modo para deixa ele responsivo,quando vai dimuindo a tela ele se ajusta*/
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.lista-filmes article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 12.5rem;
    min-height: 28rem;
}


.lista-filmes img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.lista-filmes strong {
    margin-top: 10px;
    min-height: 40px;
}

.lista-filmes a {
    display: block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: bold;
}